:root{
    --cor-conselho: hsl(193, 38%, 86%);
    --cor-id-conselho: hsl(150, 100%, 66%);
    --cor-background-main: hsl(218, 23%, 16%);
    --cor-background-conselho: hsl(217, 19%, 24%);
    --cor: hsl(217, 19%, 38%);
}




